.main-nav {
  margin: 0 auto;

  @media (max-width: $menu-desktop-width - 1) {
    display: none;
  }

  $block-name:                &; // #{$block-name}__element

  position: relative;

  // первый уровень
  &__list {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {

    & + & {
      margin-left: 4px;
    }

    &.active {

      #{$block-name}__link {
        color: $link-color--hover;
      }
    }
  }

  &__link {
    display: block;
    padding: 7px 16px;
    font-size: $font-size-sm;
    font-weight: 500;
    text-decoration: none;
    color: inherit;

    &:hover,
    &:focus {
      text-decoration: none;
      color: $link-color--hover;
    }
  }
}
