.btn {

  $block-name:                &; // #{$block-name}__element

  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: $field-padding-vertical  $field-padding-horizontal;
  margin: 0;
  text-align: center;
  font-size: $font-size;
  font-weight: 600;
  font-family: inherit;
  line-height: $line-height;
  text-decoration: none;
  text-transform: none;
  white-space: nowrap;
  color: $white;
  border-radius: $border-radius--32;
  border: 1px solid $secondary-color;
  background-color: $secondary-color;
  background-image: none;
  user-select: none;
  cursor: pointer;
  transition: all $transition-time;

  svg {
    margin-left: 8px;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 2px;
  }

  &:hover,
  &:focus {
    text-decoration: none;
    color: $white;
    background-color: $link-color--hover;
    border-color: $link-color--hover;

    svg {
      stroke: $white;
    }
  }

  &:active,
  &:focus {
    // @include field-focus;
  }

  &--disabled,
  &:disabled {
    // opacity: $opacity;
    color: $text-muted;
    background-color: $light-bg;
    border-color: $light-bg;
    cursor: not-allowed;

    @at-root a.btn--disabled {
      pointer-events: none;
    }
  }

  &--icononly {
    padding: 13px;
    font-size: $font-size-sm;
    line-height: 1;
    //color: $text-color;
    //background-color: $white;
    //border-color: $gray-bg;
    transition: all $transition-time;

    svg {
      width: 20px;
      height: 20px;
      margin-left: 0;
      fill: currentColor;
      stroke: currentColor;
      stroke-linecap: round;
      stroke-width: 2px;
      transition: stroke $transition-time;

      & + span:not(.visually-hidden) {
        margin-left: 16px;
        padding-right: 4px;
      }
    }

    span:not(.visually-hidden) + svg {
      margin-left: 16px;
    }

    // &:hover,
    // &:focus {
    //   color: $white;
    //   background-color: $link-color--hover;
    //   border-color: $link-color--hover;

    //   svg {
    //     stroke: $white;
    //   }
    // }
  }
}
