.partner-map {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: $screen-md) {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  $block-name:                &; // #{$block-name}__element

}
