.logo {

  $block-name:                &; // #{$block-name}__element

  display: inline-flex;

  img {
    width: 184px;
    height: 56px;

    @media (min-width: $screen-xl) {
      width: 237px;
      height: 72px;
    }
  }

  &--footer {

    img {

      @media (max-width: $screen-xl - 1) {
        width: 158px;
        height: 48px;
      }
    }
  }
}
