.page-footer {
  padding-top: 24px;
  color: $white;
  background-color: $secondary-color;
  border-top-left-radius: $border-radius--32;
  border-top-right-radius: $border-radius--32;

  @media (min-width: $screen-lg) {
    padding-top: 16px;
  }

  $block-name:                &; // #{$block-name}__element

  &__main {
    gap: 16px 0;
  }

  &__logo-col {
    @include col(xs, 12);
    @include col(lg, 3);
    @include col(xl, 4);
    @include col(xxl, 3);
    //margin-bottom: 32px;

    @media (min-width: $screen-lg) {
      padding-top: 40px;
    }
  }

  &__slogan-col {
    @include col(xs, 12);
    @include col(lg, 9);
    @include col(xl, 8);
    @include col(xxl, 9);
    //margin-bottom: 32px;
  }

  &__about {
    margin: 24px 0;
  }

  &__text {
    padding: 16px;
    //margin-bottom: 16px;
    //text-align: center;
    background-color: $dark-bg;
    border-radius: $border-radius--32;

    @media (min-width: $screen-md) {
      padding: 24px;
      background-repeat: no-repeat;
      background-position: bottom -126px left -58px;
      background-size: 238px;
      background-image: url(../img/orange-sphere.png);
      background-image: url(../img/orange-sphere.webp);
    }

    @media (min-width: $screen-lg) {
      height: 100%;
      padding: 40px;
    }

    p {
      margin-bottom: 0;
    }

    p + p {
      margin-top: 8px;
    }
  }

  &__title {
    margin: 0 0 8px;
    font-size: 24px;
    font-weight: 500;
  }

  &__founders {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 16px 40px;
    margin-top: 24px;

    @media (min-width: $screen-lg) {
      margin-top: 40px;
    }
  }

  &__copyrights {

  }
}
